/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/app/data.sqlite
/bin/
/composer.phar
/vendor/
/web/bundles/
/.idea
